.Chatcomponent{
    width:70%;
    height:100%;
    background-color: rgb(42, 40, 40);
    border-left:1px solid rgb(101, 99, 99);
}
.chatheader{
    border-top: 1px solid rgb(101, 99, 99);
    height:7.66%;
    background-color: rgb(86, 88, 89);
    padding:8px;
    border-bottom: 1px solid rgb(101, 99, 99);
    display: flex;
    align-items: center;
    gap:15px;
    color:white;
    font-size: 18px;
    font-weight: 500;
}
.chatheader:hover{
    cursor:pointer;
}
.Chatmessage{
    height:80%;
    overflow-y: auto;
}
.chatfooter{
    border-top: 1px solid rgb(101, 99, 99);
    height:7.78%;
    background-color: rgb(135, 136, 137);
    padding:8px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#msgtype{
    width:70%;
    height:80%;
    border-radius: 8px;
    outline: none;
    border: none;
    font-size: 18px;
    padding-left:20px;
    background-color: rgb(86, 88, 89);
    color:white;
}
.Chatmessage {
    display: flex;
    flex-direction: column;
}
  
/* .chat-message {
max-width: 70%;
margin: 10px;
padding: 10px;
border-radius: 8px;
word-wrap: break-word;
} */
  
/* .sent {
align-items: flex-end;
background-color: #dcf8c6;
}

.received {
align-self: flex-start;
background-color: #f0f0f0;
} */
  
img:hover{
    cursor:pointer;
}

.message_item{
    color:white;
    font-weight: 500;
    font-size: 17px;
}